@page "/users-with-equipment"
@inject HttpClient Http
@using TechTrack.Application.Equipments.ViewModels

<h3>Users and Their Equipment</h3>

@if (usersWithEquipment == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var user in usersWithEquipment)
    {
        <div>
            <h4>@user.Name (@user.Department)</h4>
            @if (user.Equipments.Any())
            {
                <ul>
                    @foreach (var eq in user.Equipments)
                    {
                        <li>@eq.Name - @eq.Status</li>
                    }
                </ul>
            }
            else
            {
                <p>This user has no equipment assigned.</p>
            }
        </div>
    }
}

@code {
    private List<UserWithEquipmentVm>? usersWithEquipment;

    protected override async Task OnInitializedAsync()
    {
        usersWithEquipment = await Http.GetFromJsonAsync<List<UserWithEquipmentVm>>("api/users");
    }
}
