@page "/equipment/add"
@using TechTrack.Common.Dtos.Equipments
@using TechTrack.Common.Interfaces.HttpClients
@inject IEquipmentsHttpClientService EquipmentsService
@inject NavigationManager NavigationManager

@rendermode InteractiveAuto

<h3>Add Equipment</h3>

<EditForm Model="@equipmentDto" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group" style="width: 40%;">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="equipmentDto.Name" />
    </div>
    <div class="form-group" style="width: 40%;">
        <label for="type">Type:</label>
        <InputText id="type" class="form-control" @bind-Value="equipmentDto.Type" />
    </div>
    <div class="form-group" style="width: 40%;">
        <label for="status">Status:</label>
        <InputSelect id="status" class="form-control" @bind-Value="equipmentDto.Status">
            <option value="">Select a status</option>
            <option value="Available">Available</option>
            <option value="Assigned">Assigned</option>
            <option value="Retired">Retired</option>
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Add Equipment</button>
</EditForm>

@code {
    private EquipmentForCreationDto equipmentDto = new();

    private async Task HandleValidSubmit()
    {
        await EquipmentsService.CreateEquipmentAsync(equipmentDto);
        NavigationManager.NavigateTo("/equipment");
    }
}
